<p>{{user.username}}:</p>

<p style="margin: 10px">El reporte para el {{date}} es:</p>
<table style="border-collapse: collapse;display: block;overflow: auto;">
  <thead>
    <tr>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">-</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">1</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">2</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">3</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">4</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">5</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">6</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">7</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">8</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">9</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">10</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">11</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">12</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">13</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">14</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">15</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">16</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">17</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">18</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">19</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">20</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">21</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">22</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">23</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">24</td>
      <td style="border: 1px solid black; background-color: #292b2c; color: #f7f7f7; padding: 5px">Total</td>
    </tr>
  </thead>
  {% for i in subscriptions -%}
      <tbody>
        <tr>
          <td style="border: 1px solid black; padding: 5px">{{i.name}}</td>
          <td style="{{data[i.name]['1style']}}">{{data[i.name]['1']}}</td>
          <td style="{{data[i.name]['2style']}}">{{data[i.name]['2']}}</td>
          <td style="{{data[i.name]['3style']}}">{{data[i.name]['3']}}</td>
          <td style="{{data[i.name]['4style']}}">{{data[i.name]['4']}}</td>
          <td style="{{data[i.name]['5style']}}">{{data[i.name]['5']}}</td>
          <td style="{{data[i.name]['6style']}}">{{data[i.name]['6']}}</td>
          <td style="{{data[i.name]['7style']}}">{{data[i.name]['7']}}</td>
          <td style="{{data[i.name]['8style']}}">{{data[i.name]['8']}}</td>
          <td style="{{data[i.name]['9style']}}">{{data[i.name]['9']}}</td>
          <td style="{{data[i.name]['10style']}}">{{data[i.name]['10']}}</td>
          <td style="{{data[i.name]['11style']}}">{{data[i.name]['11']}}</td>
          <td style="{{data[i.name]['12style']}}">{{data[i.name]['12']}}</td>
          <td style="{{data[i.name]['13style']}}">{{data[i.name]['13']}}</td>
          <td style="{{data[i.name]['14style']}}">{{data[i.name]['14']}}</td>
          <td style="{{data[i.name]['15style']}}">{{data[i.name]['15']}}</td>
          <td style="{{data[i.name]['16style']}}">{{data[i.name]['16']}}</td>
          <td style="{{data[i.name]['17style']}}">{{data[i.name]['17']}}</td>
          <td style="{{data[i.name]['18style']}}">{{data[i.name]['18']}}</td>
          <td style="{{data[i.name]['19style']}}">{{data[i.name]['19']}}</td>
          <td style="{{data[i.name]['20style']}}">{{data[i.name]['20']}}</td>
          <td style="{{data[i.name]['21style']}}">{{data[i.name]['21']}}</td>
          <td style="{{data[i.name]['22style']}}">{{data[i.name]['22']}}</td>
          <td style="{{data[i.name]['23style']}}">{{data[i.name]['23']}}</td>
          <td style="{{data[i.name]['24style']}}">{{data[i.name]['24']}}</td>
          <td style="{{data[i.name]['Totalstyle']}}">{{data[i.name]['Total']}}</td>
        </tr>
      </tbody>
  {% endfor -%}
</table>
