<p>{{user.username}}:</p>

<table style="border: 1px solid black;border-collapse: collapse;">
  <thead>
    <tr>
      <td style="border: 1px solid black;">-</td>
      <td style="border: 1px solid black;">1</td>
      <td style="border: 1px solid black;">2</td>
      <td style="border: 1px solid black;">3</td>
      <td style="border: 1px solid black;">4</td>
      <td style="border: 1px solid black;">5</td>
      <td style="border: 1px solid black;">6</td>
      <td style="border: 1px solid black;">7</td>
      <td style="border: 1px solid black;">8</td>
      <td style="border: 1px solid black;">9</td>
      <td style="border: 1px solid black;">10</td>
      <td style="border: 1px solid black;">11</td>
      <td style="border: 1px solid black;">12</td>
      <td style="border: 1px solid black;">13</td>
      <td style="border: 1px solid black;">14</td>
      <td style="border: 1px solid black;">15</td>
      <td style="border: 1px solid black;">16</td>
      <td style="border: 1px solid black;">17</td>
      <td style="border: 1px solid black;">18</td>
      <td style="border: 1px solid black;">19</td>
      <td style="border: 1px solid black;">20</td>
      <td style="border: 1px solid black;">21</td>
      <td style="border: 1px solid black;">22</td>
      <td style="border: 1px solid black;">23</td>
      <td style="border: 1px solid black;">24</td>
      <td style="border: 1px solid black;">Total</td>
    </tr>
  </thead>
  {% for i in subscriptions -%}
  <tbody>
    <tr>
      <td style="border: 1px solid black;">{{i.name}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['1']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['2']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['3']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['4']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['5']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['6']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['7']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['8']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['9']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['10']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['11']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['12']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['13']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['14']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['15']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['16']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['17']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['18']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['19']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['20']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['21']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['22']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['23']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['24']}}</td>
      <td style="border: 1px solid black;">{{data[i.name]['Total']}}</td>
    </tr>
  </tbody>
  {% endfor -%}
</table>
