<!DOCTYPE html>
<html>
    <head>
    <title>Coordinador - Registrate</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Coordinador Electrico</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/login">Inicia Sesión</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/register">Registrate<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container p-2">
            <h1>Regístrate</h1>
            <form method="POST" action="">
              {{form.hidden_tag()}}
              <div class="form-group">
                <label for="exampleInput">Nombre</label>
                <input type="text" class="form-control" id="exampleInput" placeholder="Jose Perez" name="username" required value="">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@mail.com" name="email" required value="">
                <small id="emailHelp" class="form-text text-muted">Protegemos tu información de terceros</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********" name="password" required value="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Confirma tu contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********" name="confirm_password" required value="">
              </div>
              <button class="btn btn-primary" id="sbmt" name="sbmt" type="submit">REGISTRARME</button>
            </form>
        </div>
    </body>
</html>
